<h3>Check Info about:{{title}}</h3>

<hr />
<p>Organized by agency: {{this.title}}, located in:{{location}}</p>

<p>Description: {{description}}</p>
<p>Rating: {{rating}}/10</p>
<br />
<hr />

<a href="/activities/{{_id}}/edit">Edit</a>

<form action="/activities/{{_id}}/delete" method="POST">
  <button type="submit">Delete this activity</button>
</form>

<hr />
<a href="/activities">Back to the list of activities</a>