<h3> Our Agencies: </h3>

{{#each agencies}}
  <section class="agency-list">
    <h2>{{this.name}}</h2>

    <img id="imgAgencies" src={{imageFile}} />

    <h3>Located in {{this.location}}</h3>
    <h4>And rated on average: {{this.rating}}</h3>
    <br>
    <hr>
    <a href="/activities"> Click here to see the list of activities they propose:</a>
    <br>
    <a href="/agencies/{{this._id}} "> More details </a>
    <hr>
  </section>
{{/each}}